@import "mixin-gradient-animation";

.form {
  display: flex;
  flex-direction: column;
  &__input {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 0 20px;
    background-color: transparent;
    position: relative;
    &:focus {
      border: 2px solid #583260;
    }
  }
  &__date {
    padding: 5px;
    width: 150px;
    font-size: 16px;
    &::-webkit-calendar-picker-indicator {
      cursor: pointer;
    }
  }
  &__user {
    padding: 5px;
    width: 320px;
    font-size: 17px;
    line-height: 22px;
  }
  &__message {
    min-width: 320px;
    max-width: 740px;
    min-height: 36px;
    max-height: 240px;
    padding: 5px;
    font-size: 17px;
    line-height: 22px;
  }
  &__button {
    width: 130px;
    height: 46px;
    border-radius: 5px;
    color: #f4e4d3;
    font-size: 17px;
    @include gradient-animation(#833ab4, #583260, 0.5s);
    align-self: self-end;
  }
  &__error {
    display: none;
    &_visible {
      display: block;
      font-size: 14px;
      color: firebrick;
      position: relative;
      top: -15px;
      right: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .form {
    &__message {
      min-width: 320px;
      max-width: 480px;
      min-height: 36px;
      max-height: 180px;
    }
  }
}

@media screen and (max-width: 900px) {
  .form {
    &__date {
      padding: 3px;
      width: 135px;
      font-size: 14px;
    }
    &__user {
      width: 240px;
    }
    &__message {
      min-width: 280px;
      max-width: 370px;
      min-height: 36px;
      max-height: 150px;
    }
  }
}

@media screen and (max-width: 700px) {
  .form {
    &__user {
      width: 160px;
      font-size: 14px;
      line-height: 28px;
    }
    &__message {
      min-height: 36px;
      max-height: 120px;
      font-size: 14px;
      line-height: 28px;
    }
    &__button {
      width: 100px;
      height: 36px;
      font-size: 15px;
      align-self: center;
    }
    &__error {
      &_visible {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .form {
    &__user {
      width: 160px;
    }
    &__message {
      min-width: 180px;
      max-width: 240px;
    }
  }
}
